@{
    ViewBag.Title = "Home";
}

<h2>Index</h2>

@BannersPublicitarios.RetornaDoisBannersMaisRecentes();
@TwitterGoodies.TweetButton(TwitterGoodies.DataCount.Horizontal, "Estou testando a integração do twitter", "www.twitter.com/hsilvest", TwitterGoodies.Languages.English, "hsilvest", "hsilvest", "Desenvolvedor");
